* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #f6f7f9;
}

.header {
    background-color: #ffffff;
}

.navbar-brand {
    margin-right: 0;
}

.txt-logo {
    color: #3563e9;
    font-size: 2rem;
    font-weight: 400;
}

